:root {
  --pinguino-barriga: pink;
}

h1 {
  font-size: 50px;
  color: black;
  font-family: 'Source Code Pro', monospace;
}
.pinguino {
  --pinguino-barriga: rgb(250, 250, 250);
  --pinguino-pico: rgb(243, 170, 74);
  --pinguino-piel: rgb(0, 0, 0); 
  /*  TEMA 28 - CREAR VARIABLES EN CSS
  */

  position: relative;
  margin: auto;
  display: block;
  margin-top: 5%;
  width: 300px;
  height: 300px;
}

.pinguino-superior {
top: 10%;
left: 25%;
 /*EL VALOR DE RESPALDO*/
background: var(--pinguino-piel, black);
width: 50%;
height: 45%;
border-radius: 70% 70% 60% 60%;
}

.pinguino-inferior {
top: 40%;
left: 23.5%;
background: var(--pinguino-piel);
width: 53%;
height: 45%;
border-radius: 70% 70% 100% 100%;
}

.mano-derecha {
top: 0%;
left: -5%;
background: var(--pinguino-piel);
width: 30%;
height: 60%;
border-radius: 30% 30% 120% 30%;
transform: rotate(45deg);
z-index: -1;
}

.mano-izquierda {
top: 0%;
left: 75%;
background: var(--pinguino-piel);
width: 30%;
height: 60%;
border-radius: 30% 30% 30% 120%;
transform: rotate(-45deg);
z-index: -1;
}

.mejilla-derecha {
top: 15%;
left: 35%;
/*Aquí están las varibles para definir el fondo del elemento*/
background: var(--pinguino-barriga, white);
width: 60%;
height: 70%;
border-radius: 70% 70% 60% 60%;
}

.mejilla-izquierda {
top: 15%;
left: 5%;
background: var(--pinguino-barriga, white);
width: 60%;
height: 70%;
border-radius: 70% 70% 60% 60%;
}

.barriga {
top: 60%;
left: 2.5%;
background: var(--pinguino-barriga, white);
width: 95%;
height: 100%;
border-radius: 120% 120% 100% 100%;
}

.pie-derecho {
top: 85%;
left: 60%;
background: var(--pinguino-pico, rgb(245, 159, 187));
width: 15%;
height: 30%;
border-radius: 50% 50% 50% 50%;
transform: rotate(-80deg);
z-index: -2222;
}

.pie-izquierdo {
top: 85%;
left: 25%;
background: var(--pinguino-pico, );
width: 15%;
height: 30%;
border-radius: 50% 50% 50% 50%;
transform: rotate(80deg);
z-index: -2222;
}

.ojo-derecho {
top: 45%;
left: 60%;
background: rgb(0, 0, 0);
width: 15%;
height: 17%;
border-radius: 50%;
}

.ojo-izquierdo {
top: 45%;
left: 25%;
background: black;
width: 15%;
height: 17%;
border-radius: 50%;
}

.reflejo-ojos {
top: 25%;
left: 15%;
background: white;
width: 35%;
height: 35%;
border-radius: 50%;
}

.color-mejilla-derecha {
top: 65%;
left: 15%;
background: pink;
width: 15%;
height: 10%;
border-radius: 50%;
}

.color-mejilla-izquierda {
top: 65%;
left: 70%;
background: pink;
width: 15%;
height: 10%;
border-radius: 50%;
}


body {
background:rgb(255, 254, 254);
}

.pinguino * {
position: absolute;
}

.pico-superior {
  top: 60%;
  left: 40%;
  background: var(--pinguino-pico, orange);
  width: 20%;
  height: 10%;
  border-radius: 50%;
}

.pico-inferior {
  top: 65%;
  left: 42%;
  background: var(--pinguino-pico, orange);
  width: 16%;
  height: 10%;
  border-radius: 50%;
}
/*TEMA 29 - COMPATIBILIDAD DE NAVEGADORES
INTERNET EXPLORER --> NO RECONOCE LAS VARIABLES CSS Y podemos solucionarlo con respaldos - ESpecificar el valor de respaldo antes de la variable, no dentro de var*/

/*TEMA 30 -  HEREDAR  VARIABLES CSS
Si no se asigna un valor a una variable en un elemento dado, se usará el valor de su elemento padre
BODY - Elemento principal
div de clase  pinguino es descendiente de body.
¿Cómo lograr que una variable se reconozca en body?
speudoclase root  y de esta manera la variable será global*/

